## Import Data and Libraries

In [7]:
import pandas as pd

data = pd.read_csv('Fiocruz/PNS_2019.csv', sep=';', low_memory=False)

In [14]:
data.reset_index(inplace=True)

In [15]:
data.shape

(293726, 1088)

In [16]:
data

,index,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
0,0,11,1110011,110000016,1,1,2019,6.0,1,1,...,1.0,6.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
1,1,11,1110011,110000016,1,1,2019,6.0,1,1,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
2,2,11,1110011,110000016,1,1,2019,6.0,1,1,...,1.0,4.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
3,3,11,1110011,110000016,1,1,2019,6.0,1,1,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
4,4,11,1110011,110000016,1,1,2019,6.0,1,1,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293721,293721,53,5310220,530044434,14,1,2019,4.0,2,1,...,1.0,1.0,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293722,293722,53,5310220,530044434,14,1,2019,4.0,2,1,...,NaN,NaN,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293723,293723,53,5310220,530044434,14,1,2019,4.0,2,1,...,1.0,7.0,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293724,293724,53,5310220,530044434,14,1,2019,4.0,2,1,...,NaN,NaN,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293725,293725,53,5310220,530044434,15,8,2019,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20210825

In [19]:
data.rename(columns={'index': 'id'}, inplace=True)
data

,id_pessoa,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,V0031,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
0,0,11,1110011,110000016,1,1,2019,6.0,1,1,...,1.0,6.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
1,1,11,1110011,110000016,1,1,2019,6.0,1,1,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
2,2,11,1110011,110000016,1,1,2019,6.0,1,1,...,1.0,4.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
3,3,11,1110011,110000016,1,1,2019,6.0,1,1,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
4,4,11,1110011,110000016,1,1,2019,6.0,1,1,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293721,293721,53,5310220,530044434,14,1,2019,4.0,2,1,...,1.0,1.0,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293722,293722,53,5310220,530044434,14,1,2019,4.0,2,1,...,NaN,NaN,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293723,293723,53,5310220,530044434,14,1,2019,4.0,2,1,...,1.0,7.0,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293724,293724,53,5310220,530044434,14,1,2019,4.0,2,1,...,NaN,NaN,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293725,293725,53,5310220,530044434,15,8,2019,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20210825

In [20]:
data.columns

Index(['id_pessoa', 'V0001', 'V0024', 'UPA_PNS', 'V0006_PNS', 'V0015', 'V0020',
       'V0022', 'V0026', 'V0031',
       ...
       'VDE002', 'VDE014', 'VDF002', 'VDF003', 'VDF004', 'VDL001', 'VDM001',
       'VDP001', 'VDR001', 'VDDATA'],
      dtype='object', length=1088)

In [22]:
test = pd.read_excel('dicion__rio_de_vari__veis_pns_2019_21012022.xlsx')

In [25]:
test.head(5)

,Dicionário de variáveis - PNS 2019,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Código da variável,Descrição da variável,Categorias,NaN
1,NaN,NaN,Tipo,Descrição
2,Parte 1 - Identificação e Controle,NaN,NaN,NaN
3,V0001,Unidade da Federação,11,Rondônia
4,NaN,NaN,12,Acre

## Informações gerais

In [26]:
data[['V0001', ]]

        V0001
0          11
1          11
2          11
3          11
4          11
...       ...
293721     53
293722     53
293723     53
293724     53
293725     53

[293726 rows x 1 columns]