## Import Data and Libraries

In [2]:
import pandas as pd

data = pd.read_csv('datasets/PNS_2019.csv', sep=';', low_memory=False)

In [9]:
data.reset_index(inplace=True)
data.rename(columns={'index': 'id'}, inplace=True)
data

,id,id,V0001,V0024,UPA_PNS,V0006_PNS,V0015,V0020,V0022,V0026,...,VDE002,VDE014,VDF002,VDF003,VDF004,VDL001,VDM001,VDP001,VDR001,VDDATA
0,0,0,11,1110011,110000016,1,1,2019,6.0,1,...,1.0,6.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
1,1,1,11,1110011,110000016,1,1,2019,6.0,1,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
2,2,2,11,1110011,110000016,1,1,2019,6.0,1,...,1.0,4.0,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
3,3,3,11,1110011,110000016,1,1,2019,6.0,1,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
4,4,4,11,1110011,110000016,1,1,2019,6.0,1,...,NaN,NaN,2098.0,350.0,2.0,NaN,NaN,NaN,NaN,20210825
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293721,293721,293721,53,5310220,530044434,14,1,2019,4.0,2,...,1.0,1.0,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293722,293722,293722,53,5310220,530044434,14,1,2019,4.0,2,...,NaN,NaN,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293723,293723,293723,53,5310220,530044434,14,1,2019,4.0,2,...,1.0,7.0,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293724,293724,293724,53,5310220,530044434,14,1,2019,4.0,2,...,NaN,NaN,13390.0,3348.0,6.0,NaN,NaN,NaN,NaN,20210825
293725,293725,293725,53,5310220,530044434,15,8,2019,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20210825

In [10]:
data.columns

Index(['id', 'id', 'V0001', 'V0024', 'UPA_PNS', 'V0006_PNS', 'V0015', 'V0020',
       'V0022', 'V0026',
       ...
       'VDE002', 'VDE014', 'VDF002', 'VDF003', 'VDF004', 'VDL001', 'VDM001',
       'VDP001', 'VDR001', 'VDDATA'],
      dtype='object', length=1089)

In [ ]:
test = pd.read_excel('datasets/dicion__rio_de_vari__veis_pns_2019_21012022.xlsx')

In [ ]:
test.head(5)

## Informações gerais

In [ ]:
data[['V0001', ]]